<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sinatra Test</title>
  </head>
  <body>
    <div>
      <h1>hello, my name is <%= @name %></h1>
      <img src="http://bit.ly/1eze8aE">
    </div>
  </body>
</html>
